// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pr-64 {
  padding-right:64px ;
}

.pr-65 {
 display:flex;
 justify-content:flex-end;
}

.pr-70 {
  padding-right:64px ;
  padding-bottom:25px ;
  padding-top:10px;
  border-bottom:solid;
  border-width:1px;
}